html {
  font-family: Lora, serif;
}

.masthead {
  background-image: url("../images/leaf-bg.svg");
  background-size: 64px;
  background-repeat: repeat;
  background-color: #588477;
  border-bottom: 3px solid #2d5a4d;
  border-top: 3px solid #2d5a4d;
  color: #fff;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  border-radius: 8px;
  border: 3px solid #2d5a4d;
  background-color: #467366;
  color: #fff;
}

.nav a:hover {
  background-image: url("../images/leaf-icon.svg");
  background-position: .75em center;
  background-size: 3em;
  background-repeat: no-repeat;
  border: 3px solid #2d5a4d;
  background-color: #fff;
  color: #145b1d;
}

.banner {
  background:
    linear-gradient(to top, rgba(16, 52, 41, .8), rgba(16, 52, 41, 0) 70%),
    url("../images/banner.jpg") no-repeat center bottom / cover #588477;
  border-bottom: 3px solid #2d5a4d;
}

.banner-content {
  color: #fff;
  padding-top: 300px;
  background-image: url("../images/two-leaves.svg");
  background-repeat: no-repeat;
  background-size: 6em;
  background-position: .75em 180px;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
