html {
  font-family: Lora, serif;
}

.masthead {
  background-image: url("..images/leaf-bg.svg")
  background-size: 2px 5px, 2px 5px, 18px auto;
  background-repeat: repeat-x, repeat-x, repeat;
  background-position: left top, left bottom, left top;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  border-radius: 8px;
  border: 3px solid #2d5a4d;
  background-color: #467366;
  color: #fff;

}

.nav a:hover {
  background-image: url("../images/leaf-icon.svg")
  border: 3px solid #2d5a4d;
  color: #145b1d;
}

.banner {
  background-image: url("../images/banner.jpg")
}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
